<div class="container">
  <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-12">
        <label><strong>Nome fantasia</strong></label>
        <input type="text" formControlName="nomeFantasia" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form.nomeFantasia.errors }" />
        <div *ngIf="submitted && form.nomeFantasia.errors" class="invalid-feedback">
          <div *ngIf="form.nomeFantasia.errors.required">Nome Fantasia required</div>
        </div>
      </div>
      <div class="form-group col-12">
        <label><strong>CNPJ</strong></label>
        <input type="text" formControlName="cnpj" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form.cnpj.errors }" />
        <div *ngIf="submitted && form.cnpj.errors" class="invalid-feedback">
          <div *ngIf="form.cnpj.errors.required">cnpj required</div>
        </div>
      </div>
      <div class="form-group col-12">
        <label><strong>Razão Social</strong></label>
        <input type="text" formControlName="razaoSocial" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form.razaoSocial.errors }" />
        <div *ngIf="submitted && form.razaoSocial.errors" class="invalid-feedback">
          <div *ngIf="form.razaoSocial.errors.required">Razao Social required</div>
        </div>
      </div>
      <div class="form-group col-12">
        <label><strong>Missão</strong></label>
        <input type="text" formControlName="missao" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form.missao.errors }" />
        <div *ngIf="submitted && form.missao.errors" class="invalid-feedback">
          <div *ngIf="form.missao.errors.required">Missao required</div>
        </div>
      </div>
      <div class="form-group col-12">
        <label><strong>Visão</strong></label>
        <input type="text" formControlName="visao" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form.visao.errors }" />
        <div *ngIf="submitted && form.visao.errors" class="invalid-feedback">
          <div *ngIf="form.visao.errors.required">Visão required</div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button class="btn btn-primary mr-1">Adicionar</button>
      <button *ngIf="!isEditing" class="btn btn-secondary" type="reset" (click)="onReset()">Resetar</button>
    </div>

  </form>
</div>
